@import url(../vendor/fonts.css);
@import url(../styles/page.scss);
@import url(../styles/header.scss);
@import url(../styles/footer.scss);
@import url(../styles/advantages.scss);
@import url(../styles/products.scss);
@import url(../styles/main-slider.scss);
@import url(../styles/rooms.scss);
@import url(../styles/tips.scss);
